/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-family: 'Lato', sans-serif;
}

/* LAYOUT */
body {
	margin: 0.5rem 0;
	background-color: #fefdf6;
}

.container {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.grid {
	display: grid;
	gap: 2rem;
}

section {
	padding: 0.5rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#logo {
	width: 8rem;
	height: auto;
}

.menu {
	display: flex;
	justify-content: space-between;
	margin: 0 2rem;
}

nav ul li {
	display: inline-block;
	padding: 0;
}

nav li a {
	justify-content: space-between;
	padding: 0 0.5rem;
}
